<h2 id="title">Ember-text-mask-addons</h2>

<h3><code>&#123;&#123;number-mask&#125;&#125;</code></h3>
<div>
{{code-snippet name="number-mask-currency.hbs"}}

  {{! BEGIN-SNIPPET number-mask-currency}}
  {{number-mask
    allowDecimal=true
    prefix="£ "
    placeholder="£"}}
  {{! END-SNIPPET}}

</div>

<div>

  {{code-snippet name="number-mask-percent.hbs"}}

  {{! BEGIN-SNIPPET number-mask-percent}}
  {{number-mask
    prefix=""
    suffix=" %"
    placeholder="%"}}
  {{! END-SNIPPET}}

</div>

<hr />

<h3><code>&#123;&#123;email-mask&#125;&#125;</code></h3>

<div>

  {{code-snippet name="email-mask.hbs"}}

  {{! BEGIN-SNIPPET email-mask}}
  {{email-mask
    placeholder="email@example.com"}}
  {{! END-SNIPPET}}

</div>

<hr />

<h3><code>&#123;&#123;auto-corrected-date-pipe&#125;&#125;</code></h3>

<div>

  {{code-snippet name="auto-corrected-date-pipe.hbs"}}

  {{! BEGIN-SNIPPET auto-corrected-date-pipe}}
  {{auto-corrected-date-pipe}}
  {{! END-SNIPPET}}

  <p>The default value for <code>dateFormat</code> is <code>mm/dd/yyyy</code></p>

  {{code-snippet name="auto-corrected-date-pipe-dateFormat.hbs"}}

  {{! BEGIN-SNIPPET auto-corrected-date-pipe-dateFormat}}
  {{auto-corrected-date-pipe
    dateFormat="dd/mm/yyyy"}}
  {{! END-SNIPPET}}

</div>


{{outlet}}
